<style>
	body {margin: 0;padding: 0;}
	.whole {
		width: 100vw;
		height: 100vh;

		display: grid;
		grid-template-columns: 0.14fr 1px 1fr;

		box-sizing: border-box;
	}
	.left {
		font-family: 'Verdana';
		font-size: 24px;
		color: #ffffff;

		background: #383a59;
		padding-top: 20px;
		box-sizing: border-box;
	}

	.gap {
		background: #f3f4fc;
	}

	.right {
		font-family: 'Verdana';
		font-size: 16px;
		color: #252525;
		background: #f3f4fc;
		padding: 40px 40px 40px 40px;
	}

	.footer {
		vertical-align: bottom;
		margin: 0;
		padding: 30px 6px 6px 6px;
		font-size: 10px;
		text-align: center;
		color: #47496a;
		word-wrap: break-word;
		width: auto;
	}

	.press:link, .press:visited {color: #5294e2; text-decoration: none; text-shadow: 0px 0px 2px rgba(80, 80, 80, 0.5);}
	.press:hover, .press:active {color: #396497; text-decoration: none; text-shadow: 0px 0px 3px rgba(80, 80, 80, 0.5);}

	.heading:link, .heading:visited {color: #000000; text-decoration: none; font-size: 26px; font-weight: bold;}
	.heading:hover, .heading:after {}

	.buttongroup {
		color: #b9bbc8; text-decoration: none;
		background-color: #282a36;
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 16px;
		transition-duration: 0.2s;
		box-sizing: border-box;
	}
	.buttongroup:hover {
		color:#ffffff; text-decoration: none; text-shadow: 3px 3px 6px #000000;
	}
	.buttonactive {
		color: #282a36; text-decoration: none;
		background-color: #f3f4fc;
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 16px;
		transition-duration: 0.2s;
		box-sizing: border-box;
	}

	.image {
		text-align: center;
	}

	.list1 li {
		list-style-type: decimal;
		margin-left: 60px;
		margin-bottom: 20px;
	}
	
	.table, td, tr, th {
		border: 1px solid #000000;
		padding: 8px;
	}

	.table {
		border-collapse: collapse;
		margin-left: 60px;
	}

	.bg {
		background-color: #e0e1e9;
		border-radius: 8px;
		padding: 0px 5px 0px 5px;
	}
	
	.cred {
		font-size: 12px;
		text-indent: 60px;